* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.Dubai {

    width: 450px;
    height: 350px;
    display: block;
    position: relative;
    background-image: url('https://q-cf.bstatic.com/images/hotel/max1024x768/206/206013993.jpg');
    background-size: cover;
}
h1 {
color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
